# The Oreo engineering-mode binary uses a removed SurfaceComposer ABI.  It is
# not needed by Android and otherwise crashes and respawns every five seconds.

service emsvr_user /system/bin/em_svr
    disabled
    user system
    group system radio diag bluetooth

service emsvr /system/bin/em_svr
    disabled
    user root
    group bluetooth
